body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form {
  max-width: 400px;
  padding: 15px 60px 45px;
  margin: 20px auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  
  border-radius: 15px;
}

.form .form-heading,
.form .checkbox {
  margin-bottom: 30px;
}

.form .checkbox {
  font-weight: normal;
  padding-left: 20px;
}

.form .form-control {
  font-weight: bolder;
  position: relative;
  height: 40px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

.form .form-control:focus {
  z-index: 2;
}

.btn-facebook {
  margin-bottom: 20px;
}

@media(max-width:767px) {
  .footer {
    display: none;
  }
  .form .form-heading {
    font-size: 1.8em;
  }
}

@media(min-width:768px) {
  .footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 40px;
    color: #FFF;
    /* margin: 3.5em 0px 0px; */
    padding: 0.8em 0px 0.8em;
    background-color: #222;
    /* background: none repeat scroll 0% 0% #111; */
  }
}

